<nav class="navbar navbar-expand-sm navbar-light" style="background-color:#adff2f;">
        <a class="navbar-brand" href="/">iLoveMyCity!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"  data-target="#collapsibleNavbar">
           <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/berlin">Berlin</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/paris">Paris</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/madrid">Madrid</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/newyork">New York</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/london">London</a>
            </li>
          </ul>
        </div>
      </nav>