<html>
    
      <% include partials/head %>
    
    <body>
      <% include partials/menu %>
      <div class="container">
         <% include partials/headline %>
          <div class="row">
             <div class="col-sm-12">
                <img src="/images/berlin/berlin-1.jpg" class="img-responsive" alt="ILovemyCity" width="600" height="600"/>
             </div>
          </div>
      </div>
      <% include partials/jsqueryinclude %>
    </body>
</html>